<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first Django project</title>
</head>
<body>
    <h1>Hi!its me Danyal.</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quas repudiandae obcaecati deserunt tempora.</p><br>
   <p>hi my name is  {{name}} and i am from {{place}}</p> 
  
            
    <h1>Home</h1>

     <li><a href="removepunc">Remove Punctuation</a></li>
     <li><a href="capitalize">Capitalization</a></li>
     <li><a href="newline_remove">New Line Remover</a></li>
     <li><a href="spaceremove">Space Remover</a></li>
     <li><a href="charcount">Charecter Counter</a></li>
</body>
</html>